= form_for [@auction,@condition] do |f|
  -unless @condition.errors.empty?
    .error
      - @condition.errors.full_messages.each do |msg|
        %li= msg

  %br/
  = f.label t("conditions.name")
  %br/
  = f.text_field :name
  %br/
  = f.label t("conditions.description")
  %br/
  = f.text_area :description
  %br/
  = f.label t("conditions.percentage")
  %br/
  = f.number_field :percentage, :min => 0, :max => 100
  %br/
  = f.submit t('save')
