= form_for [@auction,@condition] do |f|
  -unless @condition.errors.empty?
    .error
      - @condition.errors.full_messages.each do |msg|
        %li= msg

  %br/
  = f.label t("conditions.name")
  %br/
  = f.text_field :name
  %br/
  = f.label :type
  %br/
  = f.text_field :type
  %br/
  = f.label :percentage
  %br/
  = f.number_field :percentage
  %br/
  = f.submit t('save')
