%h2="#{request.url.include?("user") ? t("users.index.new_user"):t('.admin_registration')}"
= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  -unless resource.errors.empty?
    .error
      = devise_error_messages!
  %div
    = f.label :email
    %br/
    = f.email_field :email, :required => true
  %div
    = f.label t(".password")
    %br/
    = f.password_field :password, :required => true
  %div
    = f.label t('.password_confirmation')
    %br/
    = f.password_field :password_confirmation
  %div
    = f.label t('.choose_role')
    = f.select(:role, options_for_select(current_user.able_roles.invert))
  %div
    = f.label t(".company")
    = f.select :company_id, options_for_select([["#{current_user.company.name}","#{current_user.company.id}"]])
  = hidden_field_tag "user[parent_id]", current_user.id
  - Rails.logger.info "#{resource.inspect}"
  %div= f.submit t(".register")
-#= render "links"
