= form_for @auction do |f|
  -unless @auction.errors.empty?
    .error
      - @auction.errors.full_messages.each do |msg|
        %li= msg
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .actions
    = f.submit 'Save'
