#permissions_weights_invitations
  #weights
    %h3=t("auctions.weights")
    .weight_name
      %i=t(".weight_name")
    .weight_percentage
      %i=t(".weight_percentage")
    .weight_name
      =t("auctions.total_price_weight") + ":"
    .weight_percentage
      =@auction.total_price_weight ? @auction.total_price_weight.to_s + " %" : "0 %"
    - if @auction.conditions
      - @auction.conditions.each do |condition|
        .weight_name
          = condition.name[0..30] + ":"
        .weight_percentage
          = condition.percentage ? condition.percentage.to_s + " %": "0 %"
    %hr
    .weight_name
      %b=t(".total_weight")
    .weight_percentage
      %b= @auction.total_percentage.to_s + " %"
  - if current_user.auction_admin?
    #empty
    #permissions
      %h3=t("auctions.permissions")

      .permission_name
        %i=t(".permission_name")
      .permission_permit
        %i=t(".permit")
      .permission_name
        =t("auctions.rank")
      .permission_permit
        =t("#{@auction.rank ? "positive" : "negative"}")
      .permission_name
        =t("auctions.best_price")
      .permission_permit
        =t("#{@auction.best_price ? "positive" : "negative"}")
      .permission_name
        =t("auctions.computing_criteria")
      .permission_permit
        =t("#{@auction.computing_criteria ? "positive" : "negative"}")
      .edit_perms
        (
        = link_to t(".edit_perms"), permissions_auction_path(@auction)
        )
    #invitations
      %h3=t("auctions.invitation")
      - if @auction.invitation
        = link_to t("invitations.invitation"), auction_invitation_path(@auction)
      - else
        = link_to t("invitations.new_invitation"), new_auction_invitation_path(@auction)