- if @auction.rank
  %dl
    %dt=t("auctions.rank")
    %dd=compute_rank(current_user, @auction)
-if @auction.computing_criteria
  #permissions_weights_invitations
    #weights
      %h3
        =t("auctions.weights")
      .weight_name
        %i=t(".weight_name")
      .weight_percentage
        %i=t(".weight_percentage")
      .weight_name
        =t("auctions.total_price_weight") + ":"
      .weight_percentage
        =@auction.total_price_weight ? @auction.total_price_weight.to_s + " %" : "0 %"
        %br/
      - if @auction.conditions
        - @auction.conditions.each do |condition|
          .weight_name
            = condition.name[0..30] + ":"
          .weight_percentage
            = condition.percentage ? condition.percentage.to_s + " %": "0 %"
      %hr
      .weight_name
        %b=t(".total_weight")
      .weight_percentage
        %b= @auction.total_percentage.to_s + " %"
%h3
  =t("offers.offers_for_items")
  %table
    %thead
      %tr
        %th=t("items.item")
        %th=t("offers.offer_value")
        %th=t("actions")
    %tbody
      - @auction.items.each do |item|
        %tr
          %td=link_to item.name, auction_item_path(@auction, item)
          %td
            -if item.offers.where("auction_user_id =?", @auction_user.id).empty?
              = "-"
            -else
              = item.offers.where("auction_user_id =?", @auction_user.id).last.value
          %td=link_to t("offers.give_offer"), new_auction_offer_path(@auction, :item_id => item.id)

-unless @auction.conditions.empty?
  %h3
    =t("offers.offers_for_conditions")
    %table
      %thead
        %tr
          %th=t("conditions.condition")
          %th=t("offers.offer_value")
          %th=t("actions")
      %tbody
        - @auction.conditions.each do |condition|
          %tr
            %td=link_to condition.name, auction_condition_path(@auction, condition)
            %td
              -if condition.offers.where("auction_user_id =?", @auction_user.id).empty?
                = "-"
              -else
                = condition.offers.where("auction_user_id =?", @auction_user.id).last.value
            %td=link_to t("offers.give_offer"), new_auction_offer_path(@auction, :condition_id => condition.id)