%h2=t("auctions.auctions")
- if can? :create, Auction
  = link_to t('auctions.new_auction'), new_auction_path


%table
  %thead
    %tr
      %th=t("auctions.name")
      %th=t("auctions.phases.phase")
      - if current_user.auction_admin?
        %th=t("actions")

  -if @auctions
    %tbody
      - @auctions.each do |auction|
        %tr
        %td= link_to auction.name, auction
        %td= t("auctions.phases.#{auction.phase}")
        %td
          -if can? :update, auction
            = link_to t('edit'), edit_auction_path(auction)
          -if can? :destroy, auction
            = link_to t('delete'), auction, :confirm => 'Are you sure?', :method => :delete
