%h2
  .name
    =@auction.name
  .phase
    =t("auctions.phases.phase")
  .phase_name
    =t("auctions.phases.#{@auction.phase}")
-if @auction.errors
  .error
    - @auction.errors.full_messages.each do |msg|
      %li= msg
- if @auction.phase == Auction::PHASES[:init]
  -if current_user.auction_admin? || @auction.computing_criteria

    = render :partial => "perms_weights_invits"
  -if can? :read, AuctionUser
    = render :partial => "list_users"

  = render :partial => "list_items"
  = render :partial => "list_conditions"
  .actions
    = link_to t("back"), :back
  .edit_destroy
    - if current_user.auction_admin?
      = button_to t("auctions.send_invitations"), send_invitations_auction_path(@auction)
- elsif @auction.phase == Auction::PHASES[:first]
  - if current_user.auction_admin?
    = render :partial => "perms_weights_invits"
    = render :partial => "list_items"
    = render :partial => "list_conditions"
    = render :partial => "list_offers"
    .actions
      =link_to t("back"), :back
    .edit_destroy
      =button_to t("auctions.start"), start_auction_auction_path(@auction)
  - else
    = render :partial => "user_offers"
- elsif @auction.phase == Auction::PHASES[:start]
  - if current_user.auction_admin?
    = render :partial => "perms_weights_invits"
    = render :partial => "list_items"
    = render :partial => "list_conditions"
    = render :partial => "list_offers"
    .actions
      =link_to t("back"), :back
    .edit_destroy
      =button_to t("auctions.finish"), finish_auction_auction_path(@auction)
  -else
    =render :partial => "user_offers"
- elsif @auction.phase == Auction::PHASES[:finish]
  - if current_user.auction_admin?
    = render :partial => "list_offers"
  - else
    %h3=t("auctions.finish_notice")



