%h2=@auction.name
-if current_user.auction_admin? || @auction.computing_criteria
  -if @auction.errors
    .error
      - @auction.errors.full_messages.each do |msg|
        %li= msg
  = render :partial => "perms_weights_invits"
-if can? :read, AuctionUser
  = render :partial => "list_users"

= render :partial => "list_items"
= render :partial => "list_conditions"
.actions
  = link_to t("back"), :back
.edit_destroy
  - if current_user.auction_admin?
    = button_to t("auctions.send_invitations"), send_invitations_auction_path(@auction)