%h2
  -if @user.has_name?
    = "#{@user.name} #{@user.surname}"
  -else
    =@user.email
%dl
  %dt=t("users.email")
  %dd=@user.email
  %dt=t("users.name")
  %dd=@user.name
  %dt=t("users.surname")
  %dd=@user.surname
  %dt=t("companies.company")
  %dd=@user.company.name
  %dt=t("role")
  %dd=t("users.#{@user.role}")
  %dt=t("users.confirmed")
  %dd= @user.confirmed? ? t(".yes") : t(".no")
  - if @user.confirmed?
    %dt=t("users.confirmed_at")
    %dd=@user.confirmed_at
  %dt=t(".register_user")
  - unless current_user.admin? || current_user.creator?
    %dd= @user.parent.email
  - else
    %dd= link_to "#{@user.parent.email}", user_path(@user.parent)
.actions
  =link_to t('back'), :back
- if can? :update, @user
  .edit_destroy
    = link_to t("edit"), edit_user_registration_path(@user)
    - if can? :destroy, @user
      = link_to t("delete"), user_registration_path(@user), :confirm => t("delete_confirmation")