= form_for [@auction,@invitation], :url => auction_invitation_path(@auction, @invitation) do |f|
  -unless @invitation.errors.empty?
    .error
      - @invitation.errors.full_messages.each do |msg|
        %li= msg

  = f.label t("invitations.body")
  %br/
  = f.text_area :body
  %br/
  .actions
    = f.submit t('save')
