= form_for @company do |f|
  -unless @company.errors.empty?
    .error
      - @company.errors.full_messages.each do |msg|
        %li= msg
  = f.label t('companies.name')
  %br/
  = f.text_field :name, :required => true
  %br/
  = f.label t('companies.ico')
  %br/
  = f.text_field :ico
  %br/
  = f.label t('companies.dic')
  %br/
  = f.text_field :dic
  %br/
  = f.label t('companies.address')
  %br/
  = f.text_field :address
  %br/
  = f.label t('companies.city')
  %br/
  = f.text_field :city
  %br/
  = f.label t('companies.phone')
  %br/
  = f.text_field :phone

  .actions
    = f.submit 'Save'
