= form_for [@auction,@offer] do |f|
  -unless @offer.errors.empty?
    .error
      - @offer.errors.full_messages.each do |msg|
        %li= msg
  -if @item
    = render :partial => "item_description"
  -elsif @condition
    = render :partial => "condition_description"
  =f.label t("offers.offer_value")
  %br/
  =f.text_field :value
  %br/
  =f.hidden_field :offerable_type, :value => @offer.offerable_type
  =f.hidden_field :offerable_id, :value => @offer.offerable_id
  =f.hidden_field :auction_user_id, :value => @offer.auction_user.id
  = f.submit t('save')
