= form_for([@auction, @item]) do |f|
  -unless @item.errors.empty?
    .error
      - @item.errors.full_messages.each do |msg|
        %li= msg

  = f.label t("items.name")
  %br/
  = f.text_field :name
  %br/
  = f.label t("items.unit")
  %br/
  = f.text_field :unit
  %br/
  = f.label t("items.amount")
  %br/
  = f.text_field :amount

  .actions
    = f.submit t('save')
