%h2=t(".add_users_to", :auction_name => @auction.name)

%h3=t(".exists_users")
.form
  - if @users_not_in
    = form_tag ({:controller => "auction_users", :action => "create"}) do
      - @users_not_in.each do |user|
        = check_box_tag "users[]", "#{user.id}"
        = label_tag "name", "#{user.email}"
        %br/
      = submit_tag t("save")


.actions
  = link_to t("back"), :back
  = link_to t(".register_new_user"), new_user_registration_path