!!!
%html
  %head
    %title F3AcS - Free E-Auction System
    = stylesheet_link_tag 'compass/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compass/print.css', :media => 'print'
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Jockey+One"
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Nova+Mono'
    /[if lt IE 8]
      = stylesheet_link_tag 'compass/ie.css', :media => 'screen, projection'
      = csrf_meta_tag
    = javascript_include_tag "application"
  %body.bp
    #container
      #infobar
        - if current_user
          %span
            =t("logged_as", :email => current_user.email) if current_user
          =link_to t("logout"), destroy_user_session_path, :method => :delete
        - elsif current_admin
          %span
            =t("logged_as", :email => current_admin.email) if current_admin
          =link_to t("logout"), destroy_admin_session_path, :method => :delete
        - else
          - if request.url.include?("users")
            = link_to t("login_admin"), new_admin_session_path
          -else
            = link_to t("login_user"), new_user_session_path
      #header
        .logo F3AcS
        .logo_description
          Free E-Auction System
      - flash.each do |name, msg|
        #flash_message
          = content_tag :div, msg, :class => "#{name}" if msg.is_a?(String)
      #navigation
        -if current_user || current_admin
          = render_navigation
      #content
        = yield
