!!!
%html
  %head
    %title F3AcS - Free E-Auction System
    = stylesheet_link_tag 'compass/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compass/print.css', :media => 'print'
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Jockey+One"
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Nova+Mono'
    /[if lt IE 8]
      = stylesheet_link_tag 'compass/ie.css', :media => 'screen, projection'
    = javascript_include_tag "application"
    = javascript_include_tag "jquery.jclock.js"
    = csrf_meta_tag

  %body.bp
    #container
      #infobar
        - if current_user
          %span
            =t("logged_as", :email => current_user.email) if current_user
          =link_to t("logout"), destroy_user_session_path, :method => :delete
        -else
          = link_to t("login_user"), new_user_session_path
      #header
        .logo
          %span F3AcS
        .clock
        .logo_description
          %span Free E-Auction System
      #navigation
        -if current_user
          = render_navigation
        %hr
      - Rails.logger.info "!!!!FLASH#{flash.inspect}"
      - flash.each do |name, msg|
        #flash_message
          = content_tag :div, msg, :class => "#{name}" if msg.is_a?(String)

      #content
        = yield
:javascript
  $(function($) {
        $('.clock').jclock();
      });
